
  .TelaMej{
    display: grid;
    box-shadow: inset 0 0 0 10000px rgba(25, 38, 54, 0.82);
    -moz-box-shadow: inset 0 0 0 10000px rgba(25, 38, 54, 0.82);
    -webkit-box-shadow: inset 0 0 0 10000px rgba(25, 38, 54, 0.82);
    background-image:  url("../../Imagem/fundomej.png");;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
    overflow-x: hidden;

  }
  .row-1{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    color: #fafafa;
    border-bottom: 15px solid #fafafa;
    font-family: "Roboto",Helvetica,Arial,Verdana,sans-serif;
    align-items: center;
  }
  #LogoBrJr{
      border-radius: 100px;
      width: 280px;
      height: 170px;
      background-size: 100% 100%;
      margin: 20px;
      box-shadow:  0 4px 4px black;
      animation-duration: 1s;
      background-image: url('../../Imagem/logo_brasiljr.jpg');
  }
  #TextBrJr{
    margin: 30px;
    animation-name: moveRight;
    animation-duration: 1s;
  }
  .row-2{
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    color: #fafafa;
    font-family: "Roboto",Helvetica,Arial,Verdana,sans-serif;
    align-items: center;
  }
  #TextMej{
    margin: 30px;
    animation-duration: 1s;
  }
  #LogoMej{
    border-radius: 40px;
    width: 300px;
    height: 170px;
    margin: 20px;
    box-shadow:  0 4px 4px black;
    animation-duration: 1s;
    background-image: url('../../Imagem/mej.png');
    background-size: 100% 100%;
  }
  .itemMenuMej{
    margin-left: 40px;
    display: flex;
    align-self: center;
    flex-direction: r;
    text-decoration:none;
  }
  #menuMej{
    width: 100%;
    padding: 8px;
    box-shadow: 0px 1px 17px rgba(2, 2, 2, 0.5);
    top: 0%;
    text-align: end;
    z-index: 100000;
    background-color:#fafafa;
  }
  .itemMenuMej:hover{
    border-bottom: 1px solid black;
  }
  .logoNav{
    background: url('../../Imagem/logo.png');
    width: 180px;
    height: 42px;
    background-size: 100% 100%;
  }
  @media screen and (max-width: 768px){
     .TelaMej{
        height: auto;
        display: block;
     }
     .row-1{
       display: flex;
       align-items: center;
       flex-direction: column;
     }
     .row-2{
      display: flex;
      align-items: center;
      flex-direction: column;
     }
  }
  @media screen and (min-width: 1024px){
      #menuMej{
        display: none;
      }
  }
  @media screen and (max-width: 1024px){
    .itemMenuMej{
      margin-left: 20px;
    }
    .TelaMej{
      height: auto;
    }
  }

