*{
    margin: 0;
    padding: 0;
    border: 0;
  }
  .TelaMej{
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 1fr 1fr;
    background-image: url("../../Imagem/backgroundMej.jpeg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
    flex-wrap: wrap;
  }
  .tittle{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    color: rgb(43, 14, 71);
    font: normal 20pt small-caps;
  }
  .row-1{
    border-top: 15px solid rgb(7, 37, 61);
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    color: gray;
    border-bottom: 15px solid white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
  }
  #LogoBrJr{
      border-radius: 100px;
      width: 280px;
      margin: 20px;
  }
  #TextBrJr{
    margin: 30px;
  }
  .row-2{
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
  }
  #TextMej{
    margin: 30px;
  }
  #LogoMej{
    border-radius: 40px;
    width: 320px;
    margin: 20px;
  }
  .itemMenuMej{
    margin-left: 40px;
    display: flex;
    align-self: center;
    flex-direction: r;
    text-decoration:none;
  }
  #menuMej{
    width: 100%;
    padding: 8px;
    box-shadow: 0px 1px 17px rgba(2, 2, 2, 0.5);
    top: 0%;
    text-align: end;
    z-index: 100000;
    background-color: white

  }
  .itemMenuMej:hover{
    border-bottom: 1px solid black;
  }
  @media screen and (max-width: 768px){
     .TelaMej{
        height: auto;
        display: block;
     }
     .row-1{
       display: flex;
       align-items: center;
       flex-direction: column;
     }
     .row-2{
      display: flex;
      align-items: center;
      flex-direction: column;
     }
  }
  @media screen and (min-width: 1024px){
      #menuMej{
        display: none;
      }
  }
  @media screen and (max-width: 1024px){
    .itemMenuMej{
      margin-left: 20px;
    }
  }