.hr-style{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-bottom: 5px solid #12264A;
    border-radius: 7px 7px 7px 7px;
    width: 60%;  
}
#menuCards{
  width: 100%;
  padding: 8px;
  box-shadow: 0px 1px 17px rgba(2, 2, 2, 0.5);
  top: 0%;
  text-align: end;
  z-index: 100000;
  background-color: white;
}


.itemMenu{
  margin-left: 40px;
  display: flex;
  align-self: center;
  flex-direction: r;
  text-decoration:none;
}

@media screen and (max-width: 1024px){
  .itemMenu{
    margin-left: 20px;
  }
}

.MuiGrid-spacing-xs-2{
  width: 100% !important;
}
.logo{
  background: url('../../Imagem/logoazul.png');
  width: 180px;
  height: 42px;
  background-size: 100% 100%;
}

#portfolio {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    max-width: 100%;
    height: 250px;
    max-height: 250px;
    object-fit: cover;
  }
  
  .image {
    display: flex;
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .image2 {
    margin-left: 25%;
    margin-top: 50px;
    display: flex;
    width: 47%;
    height: 300;
    background-repeat: no-repeat;
  }
  .image2:hover{
    -webkit-transform: rotate(2deg) scale(1.04);
    -moz-transform: rotate(2deg) scale(1.04);
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    background-color: #12264A;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    }
  .container:hover {
    -webkit-box-shadow: 7px 10px 9px -2px rgba(0,0,0,0.46);
    -moz-box-shadow: 7px 10px 9px -2px rgba(0,0,0,0.46);
    box-shadow: 7px 10px 9px -2px rgba(0,0,0,0.46);
    
  }
  .container:hover .overlay {
    display: inline;
    height: 100%;
    opacity: 0.9;
  }
  .text {
    background-color: black;
    top: 80%;
    left: 47.5%;
    color: white;
    font-size: 15px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .Portfolio {
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
  }
