.cardsproj {
    margin: 3%;
    border-radius: 25px;
    border: 4px solid #12264A;
    max-width: 400px;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    float: left;
  }
.services {
    margin-top: 10%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-family: "Roboto",Helvetica,Arial,Verdana,sans-serif;
    overflow-x: hidden;
}
.logo{
  background: url('../../Imagem/logoazul.png');
  width: 180px;
  height: 42px;
  background-size: 100% 100%;
}

.hr-style{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-bottom: 5px solid #12264A;
    border-radius: 7px 7px 7px 7px;
    width: 60%;  
}
.line{
    align-items: center;
    margin-bottom: 20px;
}

.IconButton{
    margin-left: 20%;
    align-items: center;
    width: max-content;
}

#menuCards{
    width: 100%;
    padding: 8px;
    box-shadow: 0px 1px 17px rgba(2, 2, 2, 0.5);
    top: 0%;
    text-align: end;
    z-index: 100000;
    background-color:#f8f8ff;
  }

  .itemMenu{
    margin-left: 40px;
    display: flex;
    align-self: center;
    flex-direction: r;
    text-decoration:none;
  }
  .MuiGrid-spacing-xs-2{
    width: 100% !important;
    overflow-x: hidden;
  }
  @media screen and (max-width: 1024px){
    .itemMenu{
      margin-left: 20px;
    }
  }
  @media screen and (max-width: 768px){
    .services{
      height: 100%;
    }
  }

  #divSites {
    font-family: "Roboto",Helvetica,Arial,Verdana,sans-serif;
    margin-top: 4%;
    margin-right: 3%;
    margin-left: 3%;
  }

  #divSystem {
    font-family: "Roboto",Helvetica,Arial,Verdana,sans-serif;
    margin-top: 4%;
    margin-right: 3%;
    margin-left: 3%;
    overflow-x: hidden;
  }

  #divApps {
    font-family: "Roboto",Helvetica,Arial,Verdana,sans-serif;
    margin-right: 3%;
    margin-top: 4%;
    margin-left: 3%;
  }

  #cardsprojApps{
    float: right;
  }

  .hr-text1{
    box-sizing: border-box;
    border-bottom: 5px solid #12264A;
    opacity: .95;
    border-radius: 1px 1px 1px 1px;
    width: 100%; 
    overflow-x: hidden;
  }
  .hr-text2{
    box-sizing: border-box;
    border-bottom: 5px solid #12264A;
    opacity: .95;
    border-radius: 1px 1px 1px 1px;
    width: 100%; 
    animation-name: moveRight;
    overflow-x: hidden;
  }

  @media screen and (max-width: 768px){
    .cardsproj{
      float: none;
      margin-left: auto;
      margin-right: auto;
      display: flex;
    }
    #cardsprojApps{
      float: none;
    }
    #divSites{
      text-align: center;
    }
    #divSystem{
      text-align: center;
    }
    #divApps{
      text-align: center;
    }
  }
