.cardsproj {
    border-radius: 25px;
    border: 4px solid #12264A;
    max-width: 400px;
    width: 300px;
    height: auto;
    justify-content: center;
    display: inline-flex;
  }
.services {
    text-align: center;
    justify-content: center;
    font-weight: bold;
    align-items: center;
}

hr{
    display: flex;
    border-bottom: 4px solid #12264A;
    width: 60%;  
}
p{
    font-size: 200%;
    color: #12264A;
}

.IconButton{
    margin-left: 20%;
    align-items: center;
    width: max-content;
}