.containerCreateUser {
    font-family: 'Roboto', sans-serif;
    width: 70%;
    margin-left:30% ;
}
.ListUsers {
    border: 1px solid #ddd;

}
.containerUsers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containerUsers > input{
    border: 1px solid gray;
    width: 400px ;
    padding: 10px;
    margin-top: 15px;
}
.containerUsers > p {
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 12pt;
}
.containerUsers > button {
    padding: 6px 25px 6px 25px;
    margin-top: 4%;
    border: 1px solid gray;
    background-color: rgb(27, 168, 27);
    font-size: 12pt;

}