*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  .Equipe{
    background-color: #12264A;
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 0.9fr 0.9fr;
    font-family: 'Roboto', sans-serif;
  }
  #menuEquipe{
    width: 100%;
    padding: 8px;
    box-shadow: 0px 1px 17px rgba(2, 2, 2, 0.5);
    top: 0%;
    text-align: end;
    z-index: 100000;
    background-color: white;
  }
  .FotoMembro{
    width: 230px;
    height: 200px;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 20px;
    border-radius: 30px ;
    transition: box-shadow 300ms;
  }
  .m1{
    background-image: url('../../Imagem/membro1.jpeg');
  }
  .m2{
    background-image: url('../../Imagem/membro2.jpeg');
  }
  .m3{
    background-image: url('../../Imagem/membro3.jpeg');
  }
  .m4{
    background-image: url('../../Imagem/membro4.jpeg');
  }
  .m5{
    background-image: url('../../Imagem/membro5.jpeg');
  }
  .m7{
    background-image: url('../../Imagem/m12.jpeg');
  }
  .m6{
    background-image: url('../../Imagem/perfilsemfoto.jpg');
  }
  
  .m9{
    background-image: url('../../Imagem/membro6.jpeg');
  }
  .m10 {
    background-image: url('../../Imagem/membro7.jpeg');
  }
  .m11{
    background-image: url('../../Imagem/membro8.jpeg');
  }
  .m12{
    background-image: url('../../Imagem/membro9.jpeg');
  }

  .m13{
    background-image: url('../../Imagem/membro10.jpeg');

  }
  .m14{
    background-image: url('../../Imagem/membro11.jpeg');
  }
  
  .itemMenu:hover{
    color: blue;
  }
  .itemMenu{
    margin-left: 40px;
    display: flex;
    align-self: center;
    flex-direction: r;
    text-decoration:none;
  }
  .FotoMembro:hover{
    box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.918);
    -moz-box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.904);
    -webkit-box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.904);
  }
  .TittleEquipe {
    text-align: center;
    color:white;
    
  }

  .TittleEquipe > h5{
    font-size: 15pt;

  }
  .NomeMembro{
    color: rgba(255, 255, 255, 0.87);
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  .logo{
    background: url('../../Imagem/ejcomp.png');
    width: 180px;
    height: 42px;
    background-size: 100% 100%;
  }
  @media screen and (max-width: 1024px){
    .itemMenu{
      margin-left: 20px;
    }
  }
  @media screen and (min-width: 1024px){
    #menuEquipe{
      display: none;
    }
}