    #Navbar {
    position: sticky;
    list-style-type: none;
    display: grid;
    flex-direction: row;
    outline: none;
    grid-template-columns: 1fr 1fr;
    font-size: 17px;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    top: 0;
    z-index: 50;


  }
.itensNav{
   margin-right: 40px;
    display: flex;
    flex-direction: row;
    text-decoration:none;
    justify-content: space-evenly;
}
a:link{
    text-decoration:none;
}
a { color: inherit; } 
#imgLogo{
    height: 2.5rem;
    width: auto;
}
.itemLogo{
    margin-left: 40px;
    margin-top: 20px;
    display: flex;
    align-self: center;
}

@media screen and (max-width: 768px){
    #Navbar{
      display: none;
    }
  }
@media screen and (min-width: 2000px){
    .itensNav{
    margin-left: 190px;
    }
  }