*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    background-image: url("../Imagem/background.jpg");
    width: auto;
    height: 100vh;
    background-size: 100% 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}
#btn2{
    color:white;
    background-color: rgb(0, 26, 54); 
    border-radius: 15px;
    border: 0px none;
    margin: 20px;
    padding: 8px;
    font-weight: bolder;
    outline: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#btn3{
    background-color: transparent;
    outline: 0;
    border: 0;
    font: bold 15pt arial;
    color: aliceblue;
    
}
#containerLogo{
    position: absolute;
    top: 19%;
    left: 3%;
}
#containerButtons{
    text-align: center;
    align-items: center;
    flex: 1;
}
#containerButtonOrçamento{
    position: absolute;
    top: 75%;
}
#containerIcones{
    display: flex;
    position: absolute;
    top: 77%;
}
#containerApp{
    position: absolute;
    top: 65%;
}
#menu{
  position: fixed;
  width: 100%;
  padding: 8px;
  box-shadow: 0px 1px 17px rgba(2, 2, 2, 0.5);
  top: 0%;
  background-color: rgba(255, 255, 255, 0.966);
}
@media screen and (max-width: 760px){
     #containerLogo {
         left: 17%;
         top: 40%;
    }
    #containerButtonOrçamento {
       display: none;
    }
      #containerIcones {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    #menu{
        display: none;
    }
  #containerButtonOrçamento { 
      width: 30%;
      text-align: center;
   }
    #containerIcones {
       top: 90%;
       left: 90%;
    }
}

