.empresa {
    width: 100%;
    height: 100vh;
    color:#fff;
    font-family: "Roboto",Helvetica,Arial,Verdana,sans-serif;
    box-shadow: inset 0 0 0 10000px rgba(25, 38, 54, 0.82);
    -moz-box-shadow: inset 0 0 0 10000px rgba(25, 38, 54, 0.82);
    -webkit-box-shadow: inset 0 0 0 10000px rgba(25, 38, 54, 0.82);
    background: url('../../Imagem/Empresa_.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: grid;
    overflow-x: hidden;

}
#logo_ej_outer {
    background: url('../../Imagem/EJBRANCO_outer.png');
    background-size: 100% 100%;
    width: 250px;
    height: 250px;
    margin-left: 6%;
    animation: gira 9s linear infinite;
}
#logo_ej_inner {
    position: absolute;
    background: url('../../Imagem/EJBRANCO_centro.png');
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
    margin-left: calc(6% + 75px);
    margin-top: 75px;
}
.EmpresaRow1{
    display: grid;
    margin: auto;
    grid-template-columns: auto auto;  
}
.tituloEmpresa {
    font-size: 28px;
    margin-left: 3%;
}

 .textEmpresa {
    margin-top: 4%;
    font-size: 22px;
    width: 75%;
    margin-left: 3%;

}
.buttonEmpresa {
    border-radius: 100px;
    background-color: #12264A;
    color:#fff;
    padding: 14px;
    outline: 0;
    margin-top: 10%;
    font-weight: bolder;
    margin-left: 3%;

} 
@keyframes gira {
    
    to {
        transform:rotate(360deg);
    }
}
.logoAzul{
    background: url('../../Imagem/logoazul.png');
    width: 180px;
    height: 42px;
    background-size: 100% 100%;
}
@media screen and (max-width: 768px){
    .EmpresaRow1{
        display: block;
    }
    .empresa{
        display: flex;
        height: auto;
      }
    .buttonEmpresa{
        margin-bottom: 10px;
    }
    .textEmpresa, .tituloEmpresa{
       font-size: 15pt;
    }
    .tituloEmpresa{
        margin-top: 15px;
    }
}