.Blog{
    background-color: #1b1b1b;
    width: 100vw;
    height: 100vh;  
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.containerBlog{
    margin-top: 5%;
    display: flex;
}
.Aside{
    float: right;
    width: 40%;
    height: 80vh;
    background-color: 1b1b1b;
    border-left: 4px solid #fffafa;
    border-radius: 2px 2px 2px 2px;
    color: #fafafa;
}
.titleB{
    word-wrap: break-word;
}
.Postagens{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.Título{
    margin-top: 2%;
    margin-left: 5%;
    width: 300px;
    font-size: 20px;
    display: inline-block;
}
.hr1-aside{
    margin-top: 3%;
    margin-bottom: 3%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 4px solid #fffafa;
    border-radius: 4px 4px 4px 4px;
}
.cardPost {
    margin-bottom: 2%;
    height: 40%;
    width: 80%;
    background-color: gray;
    display: flex;
    flex-direction: row;
    padding: 25px 25px 0
}
.containerPost >h2 {
    margin-bottom: 2%;
}
.dataPost{
    font-size: 10pt;
    padding: 0 0 10px;
}
.imagemPost{
    width: 20%;
    height: 70%;
}
.containerPost{
    margin-left: 2%;
}
.containerCardPost{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descricaoPost{
    padding: 0 0 10px;
}
.btnPost{
    font-size: 10pt;
    padding:  6px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px){
    .Aside{
        width: 50%;
    }
}