.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 20000;

}
.Header{
    display: flex;
    flex-direction: column;
}
.modalForms{
    flex-direction: column;
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.911);
    box-shadow:  0 4px 4px black;
    animation-name: fadeScale;
    animation-duration: 1.1s;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 0px;
}
.modalForms > input{
    border: 1px solid #12264A;
    padding: 10px;
    border-radius: 15px;
    outline: 0;
    display: block;
    margin: 25px;   
    width: 250px;
    font-family: 'Roboto';
}
.modalForms > button {
    background-color: #12264A;
    border-radius: 20px;
    padding: 5px 30px 5px 30px;
    color: white;
    outline: 0;
}
.Cancel{
    font-size: 20pt;
}
.Cancel:hover{
    color: #12264A;
    transition: color .5s ease;

}
.envio{
    box-shadow:  0 3px 3px black;
}
.envio:hover{
    background-color: black;
    transition: background-color .5s ease;
}
.modalForms > textarea{
    border: 1px solid #12264A;
    padding: 10px;
    border-radius: 15px;
    outline: 0;
    display: block;
    margin: 25px;   
    width: 250px;
    height: 120px;
    max-width: 250px;
}
@media screen and (max-width: 320px){
    .modalForms{
        padding: 15px;
    }
    .modalForms > textarea {
        margin: 12px;
    }
    .modalForms >  input {
        margin: 12px;
    }
}